.App {
  text-align: center;
  display: flex;

  > div {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.first {
  background-color: aquamarine;

  @media (max-width: 1024px) {
    background-color: aliceblue;
  }
}

.second {
  background-color: blanchedalmond;
}
